[submodule "src/cli"]
	path = src/cli
	url = git@github.com:astrical-cms/cli.git
[submodule "src/core"]
	path = src/core
	url = git@github.com:astrical-cms/core.git
[submodule "src/cli-core"]
	path = src/cli-core
  url = git@github.com:nexical/cli-core.git

[submodule "src/module-starter"]
	path = src/module-starter
	url = git@github.com:astrical-modules/starter.git
